<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpsBinding_IReceptorWS">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IReceptorWS1"/>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IReceptorWS"/>
        <binding name="BasicHttpsBinding_IReceptorWS">
          <security mode="Transport"/>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="http://emision21.thefactoryhka.com.co/ws/v1.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="ServicioEmisionFE.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="https://emision21.thefactoryhka.com.co/ws/v1.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService" contract="ServicioEmisionFE.IService" name="BasicHttpsBinding_IService"/>
      <endpoint address="http://emision21.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServicioAdjuntosFE.IService" name="BasicHttpBinding_IService1"/>
      <endpoint address="https://emision21.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1" contract="ServicioAdjuntosFE.IService" name="BasicHttpsBinding_IService1"/>
      <endpoint address="https://recepcion21.thefactoryhka.com.co/ReceptorWS.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IReceptorWS" contract="Recepcion21WS.IReceptorWS" name="BasicHttspBinding_IReceptorWS"/>
      <endpoint address="http://recepcion21.thefactoryhka.com.co/ReceptorWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceptorWS1" contract="Recepcion21WS.IReceptorWS" name="BasicHttpBinding_IReceptorWS"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
