<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IService2"/>
        <binding name="BasicHttpBinding_IService3"/>
        <binding name="BasicHttpBinding_IService4"/>
        <binding name="BasicHttpBinding_IService5"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://emision21v2.thefactoryhka.com.co/ws/v1.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="ServicioEmisionFE.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://emision21v2.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServicioAdjuntosFE.IService" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://emision21v2.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="ServicioAdjuntosFE.IService" name="BasicHttpBinding_IService3"/>
      <endpoint address="http://emision21v2.thefactoryhka.com.co/ws/v1.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2" contract="ServicioEmisionFE.IService" name="BasicHttpBinding_IService2"/>
      <endpoint address="http://emision21v2.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4" contract="ServicioAdjuntosFE.IService" name="BasicHttpBinding_IService4"/>
      <endpoint address="https://emision21v2.thefactoryhka.com.co/ws/adjuntos/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1" contract="ServicioAdjuntosFE.IService" name="BasicHttpsBinding_IService1"/>
      <endpoint address="http://emision21v4.thefactoryhka.com.co/ws/v1.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5" contract="ServicioEmisionFE.IService" name="BasicHttpBinding_IService5"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
